@import '../../../styles/settings.scss';

.root {
  margin: 50px 0;

  .submitButton {
    &:hover {
      background-color: greenyellow;
      color: black;
    }
  }

  .instruction {
    margin-left: 18px;
    color: red;
  }
}

// Mobile - L
@media (max-width: 425px) {
  .root {
    margin: 10px 0;

    .label,
    .control,
    .submitButton {
      font-size: 15px;
    }

    .formGroup {
      margin-bottom: 0.6rem;
    }
  }
}

// Mobile - S
@media (max-width: 320px) {
  .root {
    .label,
    .control,
    .submitButton {
      font-size: 13px;
    }

    .formGroup {
      margin-bottom: 0.3rem;
    }
  }
}
