@import '../../../styles/settings.scss';

.root {
  .addRemove {
    display: flex;
    flex-direction: row;
    align-items: center;

    .addButton,
    .removeButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      background: transparent;
      color: black;
      border-color: blue;

      &:hover {
        background-color: lightskyblue;
      }

      &:focus {
        box-shadow: none;
        background-color: transparent;
      }
    }

    .addButton {
      margin-left: 15px;
    }

    .addToCart {
      background-color: blue;

      &:hover {
        background-color: lightskyblue;
        color: black;
      }

      &:focus {
        box-shadow: none;
        background-color: transparent;
        border-color: black;
        background-color: blue;
      }
    }

    .removeButton {
      margin: 0 15px 0 15px;
    }

    p {
      margin: 0;
    }
  }
}
