@import '../../../styles/settings.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .brand {
    margin: 0 20px;
    font-weight: 700;
    font-size: 25px;
    background-color: lightskyblue;
    padding: 0px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      background-color: #0062cc;
      border-color: #005cbf;
      box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);

      p {
        color: white;
      }
    }

    p {
      margin: 0;
    }
  }

  form {
    width: 100%;

    .search {
      width: 30%;
      margin: 0 auto;
    }
  }

  .rightSide {
    display: flex;
  }

  .cartButton {
    background-color: transparent;
    border-color: black;
    margin: 0 20px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: lightskyblue;
    }

    &:active {
      box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);

      .cartIcon,
      p {
        color: white;
      }
    }

    &:focus {
      box-shadow: none;
      background-color: transparent;
      border-color: black;
    }

    .cartIcon {
      font-size: 25px;
      color: black;
    }

    .number {
      color: black;
      margin: 0 0 0 10px;
      font-size: 20px;
    }
  }

  .profileButton {
    background-color: transparent;
    padding: 5px;
    margin: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: lightskyblue;
    }

    &:focus {
      box-shadow: none;
      background-color: transparent;
      border-color: black;
    }

    img {
      object-fit: cover;
      max-height: 40px;
      max-width: 40px;
      margin: 0;
    }

    p {
      color: black;
      margin: 0;
      width: 100%;
      white-space: nowrap;
      font-weight: 500;
    }

    .arrowIcon {
      color: black;
      font-size: 20px;
      font-size: 45px;
      height: 40px;
    }
  }
}
