@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;

  .card {
    flex: 30%;
    margin: 10px;
    max-height: 650px;
    text-decoration: none;
    color: inherit;
    z-index: 50;

    &:hover {
      background-color: lightskyblue;
      border-color: black;
    }
  }

  .cardBody {
    height: 100%;
  }

  .priceButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    border: none;

    &:hover {
      background-color: black;
    }

    .priceTag {
      margin-right: 5px;
    }
  }

  .image {
    width: 100%;
    max-height: 55%;
  }
}

// Tablet
@media (max-width: 768px) {
  .root {
    .card {
      max-height: 500px;
      overflow: auto;
    }
  }
}

// Mobile - L
@media (max-width: 425px) {
  .root {
    margin: 10px 0;

    .card {
      max-height: 350px;
    }

    .description {
      font-size: 13px;
      margin-bottom: 5px;
    }

    .title {
      font-size: 18px;
    }

    .priceButton {
      background-color: lightskyblue;
      font-size: 13px;
      padding: 3px 7px;
      margin-bottom: 5px;
    }
  }
}

// Mobile - M
@media (max-width: 375px) {
  .root {
    .card {
      max-height: 300px;
    }

    .description {
      font-size: 11px;
    }
  }
}

// Mobile - S
@media (max-width: 320px) {
  .root {
    .cardBody {
      padding: 5px;
    }

    .priceButton {
      font-size: 11px;
    }
  }
}
