@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;

  .card {
    flex: 30%;
    margin: 10px;
    max-height: 650px;
    text-decoration: none;
    color: inherit;
    z-index: 50;

    &:hover {
      background-color: lightskyblue;
      border-color: black;
      // transition: 250ms ease-in-out;
    }
  }

  .cardBody {
    height: 100%;
  }

  .priceButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    border: none;

    &:hover {
      background-color: black;
      // transition: 250ms ease-in-out;
    }

    .priceTag {
      margin-right: 5px;
    }
  }

  .image {
    width: 100%;
    max-height: 55%;
  }
}
