@import '../../../styles/settings.scss';

.root {
  margin: 50px 0;

  .td {
    vertical-align: middle;
  }

  .imageColumn {
    width: 60px;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .summary {
    border: 1px solid #dee2e6;
  }

  .prices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .leftSummary,
  .rightSummary {
    width: 25%;
  }

  .rightSummary {
    text-align: right;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .buttonLeft,
  .buttonRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  p {
    margin: 0;
  }

  .arrowLeft,
  .buttonLeft {
    margin-right: 20px;
  }

  .arrowRight,
  .buttonRight {
    margin-left: 20px;
  }

  .info {
    margin: 10px;
    border-bottom: 1px solid #dee2e6;
  }

  .buttonRight {
    &:hover {
      background-color: greenyellow;
      color: black;
    }
  }

  .buttonLeft {
    &:hover {
      background-color: lightskyblue;
      color: black;
    }
  }

  .removeButton {
    background-color: white;
    border: 1px solid blue;

    &:hover {
      background-color: red;
      border: 1px solid red;

      .removeIcon {
        color: white;
      }
    }

    .removeIcon {
      color: black;
    }
  }
}

// Tablet
@media (max-width: 991px) {
  .root {
    .arrowLeft {
      margin-right: 10px;
    }

    .arrowRight {
      margin-left: 10px;
    }

    .buttons {
      width: 60%;
    }

    .paragraph {
      white-space: nowrap;
    }
  }
}

// Mobile - L
@media (max-width: 425px) {
  .root {
    margin: 10px 0;

    .header {
      font-size: 15px;
      text-align: center;
      white-space: nowrap;
      line-height: 10px;
    }

    .removeButton {
      padding: 5px;
    }

    .td {
      padding: 2px;
      text-align: center;
    }

    img {
      margin-right: 0;
    }

    .leftSummary,
    .rightSummary {
      width: 100%;
    }

    .buttons {
      width: 100%;
      font-size: 12px;
    }

    .arrowLeft,
    .arrowRight {
      font-size: 13px;
    }

    .buttonLeft {
      margin-right: 0px;
    }
  }
}

// Mobile - M
@media (max-width: 375px) {
  .root {
    .buttonLeft {
      margin-right: 0px;
    }

    .paragraph {
      white-space: normal;
      line-height: 15px;
      width: 95px;
    }

    .buttonRight {
      height: 44px;
    }

    .td {
      width: 80px;
    }

    .header {
      white-space: normal;
      line-height: 15px;
    }
  }
}

// Mobile - S
@media (max-width: 320px) {
  .root {
    .buttonLeft {
      margin-right: 0px;
    }

    .paragraph {
      white-space: normal;
      line-height: 15px;
      width: 95px;
    }

    .buttonRight {
      height: 44px;
    }

    .td {
      width: 80px;
    }

    .header {
      white-space: normal;
    }
  }
}
